body{
    margin: 0px;
    background-color: white;
}
.deedoo{
    padding: 25px 25px 27px 50px;
    background-color: beige;
    font-size: 60px;
    color: darkred;
}
#map{
    width: 100%;
    height: 400px;
}
.contact{
    width: 60%;
    margin-left: 60px;
}
label, input{
    display: block;
}
input{
    padding: 8px;
    border-radius: 5px;
    width: 70%;
    margin-bottom: 20px;

}
.dropdown{
    width: 60px;
    height: 33px;
    float: left;
    margin-right: 20px;
    cursor: pointer;
}
.content{
    display: none;
    position: absolute;
}
.content a{
    background-color: white;
    padding: 5px;
    display: block;
    width: 200px;
}
.dropdown_code:hover .content{
    display: block;
}
