body{
    margin: 0px;
    /*background-color: burlywood;*/
    background-image: url("../img/signup.jpg");
    /*background-repeat: no-repeat;*/
}
div#deedoo{
    padding: 25px 25px 27px 50px;
    background-color: beige;
    font-size: 60px;
    color: darkred;
}

.total{
    margin-left: 100px;
}

.form{
    height: 1100px;
}

label b {
    display: block;
}

.container {
    padding: 16px;
    margin-top: 40px;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    width: 500px;
    border: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
}

h2{
    text-align: center;
    padding: 20px;
    color: dimgrey;
    font-size: 30px;
    margin-left: 0px;
}

.register_type{
    width: 400px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    border: solid black 2px;
    width: 500px;
    padding: 16px;
    border-radius: 5px;
}

.check_type{
    margin-left: 20px;
}

#university{
    /*display: block;*/
}

#student{
    display: none;
}

#lecturer{
    display: none;
}

.addition{
    /*display: none;*/
}

p{
    font-size: 20px;
}

input.add_faculty{
    display: inline-block;
    width: 70%;
}

.add_button{
    display: inline-block;
    width: 10%;
}

input[type=text], input[type=password], input[type=email], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 6px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}
