body{
    margin: 0px;
    /*background-color: burlywood;*/
    background-image: url("../img/terms.jpg");
    background-size: 1400px 1200px;
    /*background-repeat: no-repeat;*/
}
div#deedoo{
    padding: 25px 25px 27px 50px;
    background-color: beige;
    font-size: 60px;
    color: darkred;
}
.term{
    margin-left: 220px;
    width: 900px;
    height: 1000px;
}
.top{
    font-size: 40px;
    margin-top: 40px;
    color: green;
    margin-bottom: 0px;
}
.date{
    margin-top: 0px;
    margin-bottom: 10px;
    color: blue;
    font-size: 18px;
}
.start{
    /*margin-top: 20px;*/
}
.term h2{
    font-size: 18px;
    margin-bottom: 0px;
}
.term p{
    margin-top: 10px;
    margin-bottom: 0px;
}
